<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
        <style>
        table,h1,h3 {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        th{
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
          background-color:tomato;
          }
        td{
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
        }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h1>Bus Information</h1>
            <div>
                <p>You entered postcode <span th:text="${busModel.postCode}"></span></p>
            </div>
            <div>
                <div th:each="stops: ${busModel.busStops}">
                <h4>
                    <span th:text="${stops.Key}"></span>
                </h4>
                    <table style ="width:75%">
                        <tr>
                            <th> Bus Number </th>
                            <th> Route End </th>
                            <th> Time to Arrival </th>
                            <th> Time of Arrival </th>
                        </tr>
                        <tr th:each="buses: ${stops.Value}">>
                            <td> <span th:text="${buses.lineName}"></span> </td>
                            <td> <span th:text="${buses.destinationName}"></span> </td>
                            <td> <span th:text="${buses.timeToStation}"></span></td>
                            <td> <span th:text="${buses.expectedArrival}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>